extends layout

include _includes/sharedHTMLfunction

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      .error= message

      app-home-list

    .col-12.col-md-4
      p.lead= sidebar

  block scripts
    script(src='/build/runtime-es5.0dae8cbc97194c7caed4.js')
    script(src='/build/polyfills-es5.177e85a9724683782539.js')
    script(src='/build/main-es5.5d4836b495e6f3beaa44.js')
